.accueil {
  padding-top: 4rem;
}

.search-container {
  margin: 20px 0;
  text-align: center;
}

.search-bar {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-bar:focus {
  border-color: #007bff;
}

.movie-genres {
  margin-top: 10px;
}

.genre {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.movie-carousel-container {
  position: relative;
}

.movie-carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.movie-card {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

.movie-info {
  margin-top: 10px;
}

.accueil {
  text-align: center;
}

/* Arrows */
.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.movie-carousel-container:hover .arrow-left,
.movie-carousel-container:hover .arrow-right {
  opacity: 1; 
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.new-movie-form {
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.new-movie-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.new-movie-form form {
  display: flex;
  flex-direction: column;
}

.new-movie-form input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.new-movie-form label {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.new-movie-form button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.new-movie-form button:hover {
  background-color: #45a049;
}

.placeholder {
  background-color: #e0e0e0;
  text-align: center;
  color: #aaa;
}

.centered-button {
  display: flex;
  justify-content: center;
  margin: 2rem;
  /* align-items: center; */
  width: 100%; /* Full screen height */
}

.add-movie-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-movie-button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

.close-button:hover {
  background-color: #c0392b;
}

.director-select {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  padding-left: 5px;
  border: 1px solid #ccc;
}
